@import url("https://fonts.googleapis.com/css2?family=Helvetica:wght@400;700&display=swap");
.createPost-container {
  background-color: #292927;
  font-family: "Helvetica", sans-serif;
  padding: 1em;
  border-radius: 1em;
  width: 50%;
  height: auto;
  display: flex;
  justify-content: right;
}
.createPost-container .createPost-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 40px;
  transition: height 0.2s ease;
  gap: 5px;
}
.createPost-container .createPost-form .imagePost-container {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 10px;
}
.createPost-container .createPost-form .imagePost-container .profilePicture {
  border-radius: 2em;
  height: 40px;
  width: 40px;
}
.createPost-container .createPost-form .imagePost-container .textPost-input {
  resize: none;
  font-size: 1.1em;
  background-color: #393936;
  border: none;
  border-radius: 0.9em;
  width: 90%;
  color: rgba(228, 228, 227, 0.9725490196);
  padding: 0.5em;
  font-family: "Helvetica", sans-serif;
}
.createPost-container .createPost-form .textPost-input:focus {
  outline: none;
}
.createPost-container .createPost-form .textPost-input::placeholder {
  margin: 0;
  padding-top: 2px;
  color: #9c9c9c;
}
.createPost-container .createPost-form .formPost-options {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
.createPost-container .createPost-form .formPost-options .visibility-options:hover {
  background-color: #474747;
}
.createPost-container .createPost-form .formPost-options .visibility-options {
  background-color: #393936;
  border-radius: 1.5em;
  width: 170px;
  display: flex;
}
.createPost-container .createPost-form .formPost-options .visibility-options .arrowUp-icon {
  display: none;
  user-select: none;
  height: 16px;
  width: 15px;
  padding: 0;
  margin: 10px 20px 0 0;
  filter: invert(70%);
}
.createPost-container .createPost-form .formPost-options .visibility-options .arrowDown-icon {
  display: inline-block;
  user-select: none;
  height: 16px;
  width: 15px;
  padding: 0;
  margin: 10px 20px 0 0;
  filter: invert(70%);
}
.createPost-container .createPost-form .formPost-options .visibility-options .checked-name {
  height: 100%;
  width: 100%;
  margin-top: 10px;
  margin-left: 20px;
  text-align: left;
  color: rgba(228, 228, 227, 0.9725490196);
}
.createPost-container .createPost-form .formPost-options .visibility-options input[type=radio] {
  display: none;
}
.createPost-container .createPost-form .formPost-options .visibility-options label {
  height: 8px;
  padding: 1em;
  border-radius: 1.5em;
  user-select: none;
}
.createPost-container .createPost-form .formPost-options .visibility-options label:hover {
  background-color: #474747;
}
.createPost-container .createPost-form .formPost-options .visibility-options .visibility-list {
  top: 215px;
  display: none;
  background-color: #393936;
  border-radius: 1.1em;
  flex-direction: column;
  position: absolute;
  padding: 0.5em;
  color: rgba(228, 228, 227, 0.9725490196);
}
.createPost-container .createPost-form .formPost-options .submitButton {
  width: fit-content;
  border: none;
  background-color: #1ED760;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5em;
  border-radius: 1.1em;
  height: 35px;
  width: 90px;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 1080px) {
  .createPost-container {
    width: 90%;
  }
}

/*# sourceMappingURL=createPost.css.map */
